.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #3f4a61; 
  min-height: 10vh; /*this was 100vh initially*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Added this line of code below*/

.items{
  /* background: #eeeeee; */
  background-image: url('https://images.unsplash.com/photo-1538946456990-1fd23c29790a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d4bdc19e1b028728f4d93113fbb2e4a&auto=format&fit=crop&w=750&q=80');
  list-style: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  padding: 20px;
}

.items li{
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background:#9ec3ff;
}

ul{
  list-style: none;
}

ul:hover > li:not(:hover) {
    opacity: 0.8;
}
